@section CustomStyles{
    <link href="~/css/gameIndex.css" rel="stylesheet">
    <link href="~/lib/jqueryui/css/jquery-ui.min.css" rel="stylesheet">
    <link href="~/lib/jqueryui/css/jquery-ui.structure.min.css" rel="stylesheet">
    <link href="~/lib/jqueryui/css/jquery-ui.theme.min.css" rel="stylesheet">
}

@{
    ViewData["Title"] = "Gaming";
}

<div id="shadeDiv" class="">
    <img class="shadeImage" src="~/imgs/shades.jpg"/>
</div>

<br><br>

@* <div id="coordinates" class="text-center">
    <p>movementX-Coordinates: <span id="xcord">xx</span></p>
    <p>movementY-Coordinates: <span id="ycord">yy</span></p>
    <p>offsetX-Coordinates: <span id="offsetx">xx</span></p>
    <p>offsetY-Coordinates: <span id="offsety">yy</span></p>
    <p>screenX-Coordinates: <span id="screenx">xx</span></p>
    <p>screenY-Coordinates: <span id="screeny">yy</span></p>
</div> *@











@section CustomScripts{
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/js/gameMouseControl.js"></script>
}
